* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    background-image: linear-gradient(to right, #0f1111, #1f1f1f, #1d1f1f, #0f1111);
}
body, html {
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 0px 40px;
    background: #242428;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img{
        margin-right: auto;
        padding-bottom: 10px;
        padding: 0;
        height: px;
        width: 190px;
}

#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
    color: darkgoldenrod;
    transition: 0.3sec ease;
}

#navbar li a:hover{
    color: blanchedalmond;
}
#navbar li a.active{
    color: rgb(237, 220, 147);
}

#navbar li a.active::after, #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: burlywood;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.wireframes{
    margin-top: 30px;
}

.wireframes a{
    color: rgb(208, 183, 55);
}

.wireframes a:hover{
    color: goldenrod;
}

#main #head{
    color: darkgoldenrod;
    font-size: 50px;
    font-family: "Sofia", sans-serif;
    text-align: center;
}

#line {
    color: burlywood;
}

#main .week1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-top: 40px;
}

.weekimg a{
    text-decoration: none;
}

.weekimg .desc a:visited{
    color: darkgoldenrod;
}

.weekimg a p{
    color: rgb(239, 209, 132);
    font-size: 16px;
    text-align: center;
}

.weekimg a p:hover{
    color: darkgoldenrod;

}

.weekimg img{
    width: 150px;
    height: 150px;
}




footer {
    margin-top: 15px;

}

.footpanel1 a{
    background-color: #333538;
    color: burlywood;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
}

.footpanel1 a:hover{
    color: rgb(230, 199, 120);
    transition: 0.3s;
}

.footpanel2 {
    background-color: #292b2c;
    color: darkgoldenrod;
    font-size: 1rem;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}

ul {
    margin-top: 20px;
}
ul a {
    display: block;
    font-size: 0.95rem;
    margin-top: 10px;
    color: rgb(195, 150, 37);
    text-decoration: none;
    
}

.footpanel3{
    background-color: #28282d;
    color: rgb(205, 154, 24);
    font-size: 1.5rem;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("NoteNexon.png");
    background-size: cover;
    height: 70px;
    width: 150px;

}

.logoplaystore img{
    height: 30px;
    width: 100px;
}

.footpanel4 {
    background-color: #28282d;
    color: rgb(198, 152, 37);
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center; */
    
}

.pages {
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}